@charset "utf-8";
/* CSS Document */
.clickstyle{
    	background-color:#C00;}

.left{
    height:910px;
    width:248px;
    float: left;
	color:#FFF;
	background-color:#000;
	border: 1px solid #ccc;
	margin:2px;
	}
.logo{
	width:240px;
	height:80px;
	gargin:5px;
	border-radius: 10px;
}
.LoginInf{
	width:240px;
	height:120px;
	margin:5px;
}

.LoginImg{
	width:100px;
	height:100px;
	float:left;
	padding:5px;
	text-height:center;
	margin:5px;
}
#Login-img{
	margin:5px auto;
}
#Login-img img{
	 border-radius:60%;
}
.LoginInformation{
	width:115px;
	height:110px;
	float:right;
	font-size:14px;
	margin:5px;
}
.login-div-name{
	width:115px;
	height:30px;
	text-align : left;
}
.login-div-job {
	width:115px;
	height:30px;
	text-align : left;
 }
.login-div-userid{
    width:115px;
	height:30px;
	text-align : left;
 }

.nav {
	overflow: hidden;
	border: 1px solid #ccc;
	text-align:center;
	list-style: none;
}
.nav li {
	float: left;
	width: 250px;
	height:50px;
	list-style: none;
	cursor: pointer;
}
.Navbar{
	width:250px;
	height:50px;
	border: 0.5px solid #ccc;
	font-size:20px;
	
 }
		