@CHARSET "UTF-8";
table{
    border-collapse: collapse;
    border-spacing: 0;
    color: #3c3c3c;
    table-layout: fixed;
    margin-top: 15px;
}
tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

.orderDateClass{
	padding: 10px 10px;
}

.orderNumClass{
	padding: 10px 10px;
}

.acceptOrder{
	padding: 10px 10px;
}

i {
	height: 17px;
	width: 1px;
	padding-left: 17px;
	overflow: hidden;
	vertical-align: middle;
	font-size: 0px;
	display: inline-block;
	visibility: visible;
	background:
		url(//img.alicdn.com/tps/i1/TB1heyGFVXXXXXpXXXXR3Ey7pXX-550-260.png)
		no-repeat -239px -176px;
}